<%= form_for(@work_time) do |f| %>
  <% if @work_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_time.errors.count, "error") %> prohibited this work_time from being saved:</h2>

      <ul>
      <% @work_time.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_at %><br>
    <%= f.datetime_select :start_at %>
  </div>
  <div class="field">
    <%= f.label :end_at %><br>
    <%= f.datetime_select :end_at %>
  </div>
  <div class="field">
    <%= f.label :worker_id %><br>
    <%= f.collection_select :worker_id, Worker.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :status_id %><br>
    <%= f.collection_select :status_id, Status.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :work_status_id %><br>
    <%= f.collection_select :work_status_id, WorkStatus.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
