<p id="notice"><%= notice %></p>

<h1>
  <%= @event.name %>
</h1>

<nav>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
</nav>

<p>
  <strong>First at:</strong>
  <%= @event.first_at %>
</p>

<p>
  <strong>Last at:</strong>
  <%= @event.last_at %>
</p>

<p>
  <strong>Wday:</strong>
  <%= @event.wday %>
</p>

<p>
  <strong>S hr:</strong>
  <%= @event.s_hr %>
</p>

<p>
  <strong>S min:</strong>
  <%= @event.s_min %>
</p>

<p>
  <strong>E hr:</strong>
  <%= @event.e_hr %>
</p>

<p>
  <strong>E min:</strong>
  <%= @event.e_min %>
</p>

<nav>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
</nav>

<ul>
<% @event.last_year.downto(@event.first_year) do |year| %>
  <li>
    <%= link_to "#{year}", year_event_path(@event, year) %>
  </li>
<% end %>
</ul>
