<%= link_to "Reports", reports_path %>
<h1>Missing Active Volunteers</h1>
Active volunteers who have not shown up in the last two weeks.
<table><tbody>
<% @missing_list.each do |worker| -%>
<% unless worker.phone.blank? -%>
<tr><td>
<%= worker.shoehorn_phone %>
  </td><td>
<%= link_to worker.shoehorn_name, worker_report_path(worker) %>
<%= worker.email.blank? ?  "" : " &#171;#{worker.email}&#187;" %>
</td></tr>
<% end -%>
<% end -%>
</tbody></table>

<h1>All Active Volunteers</h1>
Volunteers who meet the requirements for "Regular Volunteer" status.
<table>
  <thead>
    <tr>
      <th>Phone</th>
      <th>Worker</th>
      <% cur_month_t = DateTime.now.at_beginning_of_month %>
<% 12.times do |n| %>
      <th><%= DateTime::ABBR_MONTHNAMES[(cur_month_t - n.months).month] %></th>
<% end %>
    </tr>
  </thead>
  <tbody>
<% @active_workers.each do |worker| -%>
<% unless worker.phone.blank? -%>
<tr><td>
<%= worker.shoehorn_phone %>
  </td><td>
<%= link_to worker.shoehorn_name, worker_report_path(worker) %>
<%=raw worker.email.blank? ?  "" : " &#171;#{worker.email}&#187;" %>
<%     worker.hours_year_array.each do |hrs| %>
  </td><td>
<%= hrs %>
<%     end -%>
</td></tr>
<%   end -%>
<% end -%>
  </tbody>
</table>
