<%= link_to "Reports", reports_path %>
<h1>Missing Regular Volunteers</h1>
Regular volunteers who have not shown up in the last two weeks.
<table><tbody>
<% @missing_list.each do |worker| -%>
<% unless worker.phone.blank? -%>
<tr><td>
<%= worker.shoehorn_phone %>
  </td><td>
<%= link_to worker.shoehorn_name, worker_report_path(worker) %>
<%= worker.email.blank? ?  "" : " &#171;#{worker.email}&#187;" %>
</td></tr>
<% end -%>
<% end -%>
</tbody></table>

<h1>All Regular Volunteers</h1>
Volunteers who meet the requirements for "Regular Volunteer" status.
<table>
  <thead>
    <tr>
      <th>Phone</th>
      <th>Worker</th>
      <% cur_month_t = DateTime.now.at_beginning_of_month %>
      <% 11.downto(0) do |n| %>
      <th>
	<%= DateTime::ABBR_MONTHNAMES[(cur_month_t - n.months).month] %>
	<% if 11 == n ||  0 == n %><%= (cur_month_t - n.months).year %><% end %>
      </th>
<% end %>
    </tr>
  </thead>
  <tbody>
<% @active_workers.each do |worker| -%>
<% unless worker.phone.blank? -%>
<tr><td>
<%= worker.shoehorn_phone %>
  </td><td>
<%= link_to worker.shoehorn_name, worker_report_path(worker) %>
<%=raw worker.email.blank? ?  "" : " &#171;#{worker.email}&#187;" %>
<%     worker.hours_year_array.reverse.each do |hrs| %>
  </td>
<td style="text-align: right; padding-left: 10px;"><%= "%0.1f" % hrs %>
<%     end -%>
</td></tr>
<%   end -%>
<% end -%>
  </tbody>
</table>
