<h1>Volunteers Logged in over 5 hours</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Time</th>
    <th>Length</th>
  </tr>
<% for work_time in @long_volunteers -%>
  <tr>
    <td><%=link_to work_time.worker.name, worker_report_path(work_time.worker) %></td>

    <% if work_time.is_open? -%>
    <td><%= work_time.is_today? ? "Still in shop" : "<b>Oops!</b>" %></td>
    <td><%= work_time.start_datetime %></td>
    <td></td>
    <td><%= work_time.start_time %></td>
    <% else -%>
    <td><%= work_time.start_datetime %></td>
    <td><%= work_time.end_datetime %></td>
    <td><%=h work_time.difference_to_s %></td>
    <% end -%>

    <td><%= link_to 'Show', work_time %></td>
    <td><%= link_to 'Edit', edit_work_time_path(work_time) %></td>
  </tr>
<% end %>
</table>

<h1>Working Past Midnight</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Time</th>
    <th>Length</th>
  </tr>
<% for work_time in @work_times -%>
  <tr>
    <td><%=link_to work_time.worker.name, worker_report_path(work_time.worker) %></td>
    <% if work_time.is_open? -%>
    <td><%= work_time.is_today? ? "Still in shop" : "<b>Oops!</b>" %></td>
    <td><%= work_time.start_datetime %></td>
    <td></td>
    <td><%= work_time.start_time %></td>
    <% else -%>
    <td><%= work_time.start_datetime %></td>
    <td><%= work_time.end_datetime %></td>
    <td><%= work_time.difference_to_s %></td>
    <% end -%>
    <td><%= link_to 'Show', work_time %></td>
    <td><%= link_to 'Edit', edit_work_time_path(work_time) %></td>
  </tr>
<% end %>
</table>
<h1>Still Logged In</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Start Date</th>
  </tr>
<% for work_time in @logged_in -%>
  <tr>
    <td><%= link_to work_time.worker.name, worker_report_path(id: work_time.worker) %></td>

    <td><%= work_time.start_datetime %></td>

    <td><%= link_to 'Show', work_time %></td>
    <td><%= link_to 'Edit', edit_work_time_path(work_time) %></td>
  </tr>
<% end %>
</table>
<%= link_to "Reports", reports_path %>
