<table class="#{@options[:table_class]}" border="0" cellspacing="0" cellpadding="0">
<thead>

  <tr>
<% if @options[:previous_month_text] or @options[:next_month_text] -%>
    <th colspan="2"><%= @options[:previous_month_text] %></th>
  <% colspan=3 -%>
<% else -%>
  <% colspan=7 -%>
<% end -%>
    <th colspan="<%= colspan %>" class="<%= @options[:month_name_class] %>"><%= Date::MONTHNAMES[@options[:month]] %></th>
<%  if @options[:next_month_text] -%>
    <th colspan="2"><%= @options[:next_month_text] %></th>
<% end -%>
  </tr>

  <tr class="<%= @options[:day_name_class] %>">
<% @day_names.each do |d| -%>
  <% unless d[@options[:abbrev]].eql? d -%>
    <th scope='col'><abbr title='<%= d %>'><%= d[@options[:abbrev]] %></abbr></th>
  <% else -%>
    <th scope='col'><%= d[@options[:abbrev]] %></th>
  <% end -%>
<% end -%>
  </tr>
</thead>

<tbody>
  <tr>
<% beginning_of_week(@first, @first_weekday).upto(@first - 1) do |d| -%>
    <td class="<%= @options[:other_month_class] %><%= " weekendDay" if weekend?(d) %>"><%= d.day %>
  <% if @options[:accessible] -%>
       <span class="hidden"><%= Date::MONTHNAMES[d.month] %></span>
  <% end -%>
    </td>
<% end unless @first.wday == @first_weekday -%>

<% @first.upto(@last) do |cur|
   cell_text, cell_attrs = @block.call(cur)
   cell_text  ||= link_to cur.day, day_week_report_path(:year => cur.year, :month => cur.month, :day => cur.day)
   cell_attrs ||= {:class => @options[:day_class]}
   cell_attrs[:class] += " weekendDay" if [0, 6].include?(cur.wday) 
   cell_attrs[:class] += " today" if (cur == Date.today) and @options[:show_today]  
   cell_attrs = cell_attrs.map {|k, v| %(#{k}="#{v}") }.join(" ") -%>

    <td <%= cell_attrs %>><%= cell_text %></td>
  <% if cur.wday == @last_weekday -%>
  </tr><tr>
  <% end -%>
<% end -%>

<% (@last + 1).upto(beginning_of_week(@last + 7, @first_weekday) - 1)  do |d| -%>
     <td class="<%= @options[:other_month_class] %><%= " weekendDay" if weekend?(d) %>">
       <%= d.day %>
  <% if @options[:accessible] -%>
       <span class='hidden'> <%= Date::MONTHNAMES[d.mon] %></span>
  <% end -%>
     </td>
<% end unless @last.wday == @last_weekday -%>
  </tr></tbody></table>
