<h1>Reports</h1>
<h2>Volunteer</h2>
<div><%= link_to "Weekly", :controller => "report", :action => "weekly" %></div>
<div><%= link_to "Monthly", :controller => "report", :action => "monthly" %></div>
<div><%= link_to "Yearly", :controller => "report", :action => "yearly" %></div>
<h2>Events</h2>
<table>
  <tbody>
<% for event in @events -%>
<tr>
  <td><%= event.name %></td>
  <td><%= link_to "Old Report", :controller => "report", :action => "event", :id => event.id %></td>
  <td><%= link_to "This year's reports", year_event_path(event, @year) %></td>
  <td><%= link_to "Last year's reports", year_event_path(event, @year - 1) %></td>
</tr>
<% end -%>
  </tbody>
</table>

<%= link_to "Add or change events", events_path %>

<h2>By Vounteer</h2>
<div><%= link_to "Volunteers", workers_path %></div>
<div><%= link_to "Contact List", contact_list_path %></div>
<div><%= link_to "Regular Volunteers", regular_workers_path %></div>

<h2>Administration</h2>
<div><%= link_to "Strange Hours", admin_path %></div>
<div><%= link_to "Work Times Dump (csv)", work_times_dump_path %></div>

<div></div>
