<%= link_to "prev", month_report_path(WorkTime.prev(@year, @month)) %>
<%= link_to "next", month_report_path(WorkTime.next(@year, @month)) %>

<% for status in @statuses -%>
<% workers = WorkTime.worker_type_for(status, @year, @month) -%>
<h3><%= status.name.pluralize %> (<%= workers.size %>)</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Hours</th>
      <th>Last month</th>
      <th>Change</th>
    </tr>
  </thead>
  <tbody>
<% workers.sort_by(&:name).each do |worker| -%>
<tr>
  <td>
    <%= link_to worker.shoehorn_name, worker_report_path(worker) %>
  </td>
  <td>
    <%= worker.email %>
  </td>
  <td style='text-align: right;'>
    <% this_month = worker.month_time_in_minutes(@year, @month) %>
    <%= "%0.2f" % (this_month / 60.0) %>
  </td>
  <td style='text-align: right;'>
    <% last_month = worker.last_month_time_in_minutes(@year, @month) %>
    <%= "%0.2f" % (last_month / 60.0) %>
  </td>
  <td style='text-align: right;'>
    <% change = this_month - last_month %>
    <% if change > 0 %>
    <span style='color: green;'>
      +<%= "%0.2f" % (change / 60.0) %>
    </span>
    <% else %>
    <span style='color: red;'>
      <%= "%0.2f" % (change / 60.0) %>
    </span>
    <% end %>
  </td>
</tr>
<% end -%>
  </tbody>
</table>
<% end -%>

<br />

<h2>Hours</h2>
<nav>
  <%=link_to 'export to csv', month_csv_path(year: @year, month: @month) %> |
  <%=link_to 'month totals', month_totals_report_path(year: @year, month: @month) %>
</nav>
