<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if @survey.worker_id -%>
  <%= f.hidden_field :worker_id %>
<% else -%>
  <div class="field">
    <%= f.label :worker_id %><br>
    <%= f.collection_select :worker_id, Worker.all, :id, :name %>
  </div>
<% end -%>

<fieldset>
<legend>Our ongoing programs always need volunteer help
</legend>
<table>
<%= render partial: 'boolean_row', locals: {f: f, field: :assist_host, string: "I want to assist program hosts" } %>
<%= render partial: 'boolean_row', locals: {f: f, field: :host_program, string: "I feel ready to host a program" } %>
<%= render partial: 'boolean_row', locals: {f: f, field: :greet_open, string: "For Open Shop I'd like to greet patrons and help with checkout, but not with mechanics" } %>
</table>
</fieldset>
<br />

<fieldset>
<legend>I plan to come in...
</legend>
<table>
<%= render partial: 'row_radio', locals: {f: f, field: :frequency, string: "I plan to come in...", options: ['Twice a week', 'Once a week', 'Twice a month', 'Once a month'] } %>
</table>
<table>
<%= render partial: 'boolean_row', locals: {f: f, field: :tues_vol, string: "Tuesday Volunteer Hours [12-5 PM]" } %>
<%= render partial: 'boolean_row', locals: {f: f, field: :tues_open, string: "Tuesday Open Shop [7-9 PM]" } %>
<%= render partial: 'boolean_row', locals: {f: f, field: :thurs_youth, string: "Youth Open Shop [7-9 PM]" } %>
<%= render partial: 'boolean_row', locals: {f: f, field: :thurs_open, string: "Thursday Open Shop [7-9 PM]" } %>
<%= render partial: 'boolean_row', locals: {f: f, field: :fri_vol, string: "Friday Volunteer Hours [5-8 PM]" } %>
<%= render partial: 'boolean_row', locals: {f: f, field: :sat_sale, string: "Saturday Sale [10 AM - 12 PM]" } %>
<%= render partial: 'boolean_row', locals: {f: f, field: :sat_open, string: "Saturday Open Shop [1-5 PM]" } %>
</table>
</fieldset>
<br />

<fieldset>
<legend>To give a sense of my bike mechanics skills at this point:
</legend>
I can...
<table>
<%= render partial: 'row_inline_radio',  locals: {f: f, field: :can_name_bike, string: "name all parts of a bike" } %>
<%= render partial: 'row_inline_radio',  locals: {f: f, field: :can_fix_flat, string: "fix a flat tire, front and rear" } %>
<%= render partial: 'row_inline_radio',  locals: {f: f, field: :can_replace_tire, string: "find appropriate tube & tire replacement" } %>
<%= render partial: 'row_inline_radio',  locals: {f: f, field: :can_replace_seat, string: "replace seat post" } %>
<%= render partial: 'row_inline_radio',  locals: {f: f, field: :can_replace_cables, string: "replace cables, brake and derailleur" } %>
<%= render partial: 'row_inline_radio',  locals: {f: f, field: :can_adjust_brakes, string: "adjust brakes" } %>
<%= render partial: 'row_inline_radio',  locals: {f: f, field: :can_adjust_derailleurs, string: "adjust derailleurs" } %>
<%= render partial: 'row_inline_radio',  locals: {f: f, field: :can_replace_brakes, string: "replace brakes and levers" } %>
<%= render partial: 'row_inline_radio',  locals: {f: f, field: :can_replace_shifters, string: "replace shifters and derailleurs" } %>
<%= render partial: 'row_inline_radio',  locals: {f: f, field: :can_remove_pedals, string: "remove pedals" } %>
<%= render partial: 'row_inline_radio',  locals: {f: f, field: :replace_crank, string: "replace a crank set" } %>
<%= render partial: 'row_inline_radio',  locals: {f: f, field: :can_adjust_bearing, string: "get a proper bearing adjustment" } %>
<%= render partial: 'row_inline_radio',  locals: {f: f, field: :can_overhaul_hubs, string: "overhaul hubs" } %>
<%= render partial: 'row_inline_radio',  locals: {f: f, field: :can_overhaul_bracket, string: "overhaul bottom bracket" } %>
<%= render partial: 'row_inline_radio',  locals: {f: f, field: :can_overhaul_headset, string: "overhaul headset" } %>
<%= render partial: 'row_inline_radio',  locals: {f: f, field: :can_true_wheels, string: "true wheels" } %>
<%= render partial: 'row_inline_radio',  locals: {f: f, field: :can_replace_fork, string: "replace a fork" } %>
</table>
</fieldset>
<br />

<fieldset>
<legend>The following are also important Recyclery happenings, but are not on our weekly calendar.
</legend>
I am willing and able to:
<table>
<%= render partial: 'boolean_row', locals: {f: f, field: :assist_youth, string: "Assist with youth programs" } %>
<tr>
<%= render partial: 'boolean_cell', locals: {f: f, field: :assist_tuneup, string: "Assist a Tune Up class" } %>
<%= render partial: 'boolean_cell', locals: {f: f, field: :taken_tuneup, string: "I have taken a Tune Up class before" } %>
</tr>
<tr>
<%= render partial: 'boolean_cell', locals: {f: f, field: :assist_overhaul, string: "Assist an Overhaul class" } %>
<%= render partial: 'boolean_cell', locals: {f: f, field: :taken_overhaul, string: "I have taken an Overhaul class before" } %>
</tr>
<tr>
<%= render partial: 'boolean_cell', locals: {f: f, field: :pickup_donations, string: "Pick up bike donations" } %>
<%= render partial: 'boolean_cell', locals: {f: f, field: :drive_stick, string: "I can drive stick shift" } %>
<%= render partial: 'boolean_cell', locals: {f: f, field: :have_vehicle, string: "I have my own vehicle" } %>
</tr>
<%= render partial: 'boolean_row', locals: {f: f, field: :represent_recyclery, string: "Represent The Recyclery at events" } %>
<%= render partial: 'boolean_row', locals: {f: f, field: :sell_ebay, string: "Sell higher end bike parts on Ebay" } %>
<%= render partial: 'boolean_row', locals: {f: f, field: :organize_drive, string: "Organize a bike drive" } %>
<%= render partial: 'boolean_row', locals: {f: f, field: :organize_events, string: "Organize other special events" } %>
</table>
</fieldset>
<br />

<fieldset>
<legend>And there is a whole host of other ongoing needs
</legend>
I've got these skills and might have the time:
<table>
<%= render partial: 'boolean_row', locals: {f: f, field: :skill_graphic_design, string: "Graphic Design" } %>
<%= render partial: 'boolean_row', locals: {f: f, field: :skill_drawing, string: "Drawing/painting" } %>
<%= render partial: 'boolean_row', locals: {f: f, field: :skill_photography, string: "Photography" } %>
<%= render partial: 'boolean_row', locals: {f: f, field: :skill_videography, string: "Videography" } %>
<%= render partial: 'boolean_row', locals: {f: f, field: :skill_programming, string: "Programming" } %>
<%= render partial: 'boolean_row', locals: {f: f, field: :skill_grants, string: "Writing for grants" } %>
<%= render partial: 'boolean_row', locals: {f: f, field: :skill_newsletter, string: "Writing for our newsletter" } %>
<%= render partial: 'boolean_row', locals: {f: f, field: :skill_carpentry, string: "Carpentry and design" } %>
<%= render partial: 'boolean_row', locals: {f: f, field: :skill_coordination, string: "Shop organization/management" } %>
<%= render partial: 'boolean_row', locals: {f: f, field: :skill_fundraising, string: "Fundraising/development" } %>
</table>
</fieldset>
<br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
