<% if @survey.worker_id -%>
<h1>Editing <%= @survey.worker.name %>'s survey</h1>
<% else %>
<h1>Editing survey</h1>
<% end %>

<%= form_for([@worker, @survey]) do |f| %>
<%= render partial: 'surveys/form', locals: {f: f} %>
<% end %>

<%= link_to 'Show', worker_survey_path(@worker, @survey) %> |
<% if @survey.worker_id %>
<%= link_to 'Back', worker_path(@survey.worker) %>
<% else -%>
<%= link_to 'Back', worker_surveys_path(@worker) %>
<% end -%>
