<% if @survey.worker_id -%>
<h1>New survey for <%= @survey.worker.name %></h1>
<% else %>
<h1>New survey</h1>
<% end %>

<%= form_for([@worker, @survey]) do |f| %>
<%= render partial: 'surveys/form', locals: {f: f} %>
<% end %>

<% if @survey.worker_id %>
<%= link_to 'Back', worker_path(@survey.worker) %>
<% else -%>
<%= link_to 'Back', worker_surveys_path(@worker) %>
<% end -%>
