<p id="notice"><%= notice %></p>

<p>
  <strong>Worker:</strong>
  <%=link_to_worker @survey.worker %>
</p>

<p>
  <strong>Assist host:</strong>
  <%= @survey.assist_host %>
</p>

<p>
  <strong>Host program:</strong>
  <%= @survey.host_program %>
</p>

<p>
  <strong>Greet open:</strong>
  <%= @survey.greet_open %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @survey.frequency %>
</p>

<p>
  <strong>Tues vol:</strong>
  <%= @survey.tues_vol %>
</p>

<p>
  <strong>Tues open:</strong>
  <%= @survey.tues_open %>
</p>

<p>
  <strong>Thurs youth:</strong>
  <%= @survey.thurs_youth %>
</p>

<p>
  <strong>Thurs open:</strong>
  <%= @survey.thurs_open %>
</p>

<p>
  <strong>Fri vol:</strong>
  <%= @survey.fri_vol %>
</p>

<p>
  <strong>Sat sale:</strong>
  <%= @survey.sat_sale %>
</p>

<p>
  <strong>Sat open:</strong>
  <%= @survey.sat_open %>
</p>

<p>
  <strong>Can name bike:</strong>
  <%= @survey.can_name_bike %>
</p>

<p>
  <strong>Can fix flat:</strong>
  <%= @survey.can_fix_flat %>
</p>

<p>
  <strong>Can replace tire:</strong>
  <%= @survey.can_replace_tire %>
</p>

<p>
  <strong>Can replace seat:</strong>
  <%= @survey.can_replace_seat %>
</p>

<p>
  <strong>Can replace cables:</strong>
  <%= @survey.can_replace_cables %>
</p>

<p>
  <strong>Can adjust brakes:</strong>
  <%= @survey.can_adjust_brakes %>
</p>

<p>
  <strong>Can adjust derailleurs:</strong>
  <%= @survey.can_adjust_derailleurs %>
</p>

<p>
  <strong>Can replace brakes:</strong>
  <%= @survey.can_replace_brakes %>
</p>

<p>
  <strong>Can replace shifters:</strong>
  <%= @survey.can_replace_shifters %>
</p>

<p>
  <strong>Can remove pedals:</strong>
  <%= @survey.can_remove_pedals %>
</p>

<p>
  <strong>Replace crank:</strong>
  <%= @survey.replace_crank %>
</p>

<p>
  <strong>Can adjust bearing:</strong>
  <%= @survey.can_adjust_bearing %>
</p>

<p>
  <strong>Can overhaul hubs:</strong>
  <%= @survey.can_overhaul_hubs %>
</p>

<p>
  <strong>Can overhaul bracket:</strong>
  <%= @survey.can_overhaul_bracket %>
</p>

<p>
  <strong>Can overhaul headset:</strong>
  <%= @survey.can_overhaul_headset %>
</p>

<p>
  <strong>Can true wheels:</strong>
  <%= @survey.can_true_wheels %>
</p>

<p>
  <strong>Can replace fork:</strong>
  <%= @survey.can_replace_fork %>
</p>

<p>
  <strong>Assist youth:</strong>
  <%= @survey.assist_youth %>
</p>

<p>
  <strong>Assist tuneup:</strong>
  <%= @survey.assist_tuneup %>
</p>

<p>
  <strong>Assist overhaul:</strong>
  <%= @survey.assist_overhaul %>
</p>

<p>
  <strong>Pickup donations:</strong>
  <%= @survey.pickup_donations %>
</p>

<p>
  <strong>Taken tuneup:</strong>
  <%= @survey.taken_tuneup %>
</p>

<p>
  <strong>Taken overhaul:</strong>
  <%= @survey.taken_overhaul %>
</p>

<p>
  <strong>Drive stick:</strong>
  <%= @survey.drive_stick %>
</p>

<p>
  <strong>Have vehicle:</strong>
  <%= @survey.have_vehicle %>
</p>

<p>
  <strong>Represent recyclery:</strong>
  <%= @survey.represent_recyclery %>
</p>

<p>
  <strong>Sell ebay:</strong>
  <%= @survey.sell_ebay %>
</p>

<p>
  <strong>Organize drive:</strong>
  <%= @survey.organize_drive %>
</p>

<p>
  <strong>Organize events:</strong>
  <%= @survey.organize_events %>
</p>

<p>
  <strong>Skill graphic design:</strong>
  <%= @survey.skill_graphic_design %>
</p>

<p>
  <strong>Skill drawing:</strong>
  <%= @survey.skill_drawing %>
</p>

<p>
  <strong>Skill photography:</strong>
  <%= @survey.skill_photography %>
</p>

<p>
  <strong>Skill videography:</strong>
  <%= @survey.skill_videography %>
</p>

<p>
  <strong>Skill programming:</strong>
  <%= @survey.skill_programming %>
</p>

<p>
  <strong>Skill grants:</strong>
  <%= @survey.skill_grants %>
</p>

<p>
  <strong>Skill newsletter:</strong>
  <%= @survey.skill_newsletter %>
</p>

<p>
  <strong>Skill carpentry:</strong>
  <%= @survey.skill_carpentry %>
</p>

<p>
  <strong>Skill coordination:</strong>
  <%= @survey.skill_coordination %>
</p>

<p>
  <strong>Skill fundraising:</strong>
  <%= @survey.skill_fundraising %>
</p>

<%= link_to 'Edit', edit_worker_survey_path(@worker, @survey) %> |
<% if @survey.worker_id %>
<%= link_to 'Back', worker_path(@survey.worker) %>
<% else -%>
<%= link_to 'Back', worker_surveys_path(@worker) %>
<% end -%>
