<%= form_for(@worker) do |f| %>
  <% if @worker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@worker.errors.count, "error") %> prohibited this worker from being saved:</h2>

      <ul>
      <% @worker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :in_shop %><br>
    <%= f.check_box :in_shop %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :status_id %><br>
    <%= f.collection_select :status_id, Status.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :work_status_id %><br>
    <%= f.collection_select :work_status_id, WorkStatus.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :public_email %><br>
    <%= f.check_box :public_email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
