<h1>Listing workers</h1>

<table>
  <thead>
    <tr>
      <th><%= t('common.name') %></th>
      <th><%= t('common.image') %></th>
      <th><%= t('common.in_shop') %></th>
      <th><%= t('common.email') %></th>
      <th><%= t('common.phone') %></th>
      <th><%= t('common.status') %></th>
      <th><%= t('common.work_status') %></th>
      <th><%= t('common.public_email') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @workers.each do |worker| %>
      <tr>
        <td><%= worker.name %></td>
        <td><img src='<%= worker.image_url %>' /></td>
        <td><%= worker.in_shop %></td>
        <td><%= worker.email %></td>
        <td><%= worker.phone %></td>
        <td><%= worker.status_name %></td>
        <td><%= worker.work_status_name %></td>
        <td><%= worker.public_email %></td>
        <td><%= link_to t("links.show"), worker %></td>
        <td><%= link_to t("links.edit"), edit_worker_path(worker) %></td>
        <td><%= link_to t("links.destroy"), worker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Worker', new_worker_path %>
