<p id="notice"><%= notice %></p>

<% unless @worker.survey -%>
<%= link_to_survey(@worker) %>
<% end -%>

<h1>
  <%= @worker.name %>
</h1>

<p>
  <img src='<%= @worker.avatar_url %>' />
</p>

<p>
  <strong><%= t('common.in_shop') %>:</strong>
  <%= @worker.in_shop %>
</p>

<% if @worker.youth? %>
	<p>
	  <strong><%= t('common.points') %>:</strong>
	  <%= @worker.youth_points %>
	</p>
  <p>
    <%= link_to "Buy Something With Points", new_worker_youth_point_transaction_path(@worker) %>
  </p>
<% end %>

<p>
  <strong><%= t('common.email') %>:</strong>
  <%= @worker.email %>
</p>

<p>
  <strong><%= t('common.phone') %>:</strong>
  <%= @worker.phone %>
</p>

<p>
  <strong><%= t('common.status') %>:</strong>
  <%= @worker.status_name %>
</p>

<p>
  <strong><%= t('common.work_status') %>:</strong>
  <%= @worker.work_status_name %>
</p>

<p>
  <strong><%= t('common.public_email') %>:</strong>
  <%= @worker.public_email %>
</p>

<%= link_to 'Edit', edit_worker_path(@worker) %> |
<%= link_to 'Back', root_path %> |
<%= link_to_survey(@worker) %>
