<p id="notice"><%= notice %></p>

<h1>
  <%= @worker.name %>
</h1>

<p>
  <img src='<%= @worker.image_url %>' />
</p>

<p>
  <strong><%= t('common.in_shop') %>:</strong>
  <%= @worker.in_shop %>
</p>

<p>
  <strong><%= t('common.email') %>:</strong>
  <%= @worker.email %>
</p>

<p>
  <strong><%= t('common.phone') %>:</strong>
  <%= @worker.phone %>
</p>

<p>
  <strong><%= t('common.status') %>:</strong>
  <%= @worker.status_name %>
</p>

<p>
  <strong><%= t('common.work_status') %>:</strong>
  <%= @worker.work_status_name %>
</p>

<p>
  <strong><%= t('common.public_email') %>:</strong>
  <%= @worker.public_email %>
</p>

<%= link_to 'Edit', edit_worker_path(@worker) %> |
<%= link_to 'Back', workers_path %>
